{#
Fichier : products_edit_images.html.twig
Date : 2021-05-16
Auteur : Davis Eath
Fonction : Page admin modification des images d'un produit
#}

{% extends 'admin/base.html.twig' %}

{% block title 'produits / ' ~ parent() %}

{% set page = 'products' %}

{% form_theme form _self %}

{% block form_errors %}
{% for error in errors %}
<span class="form-error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
{% endfor %}
{% endblock form_errors %}

{% block main %}
<div class="ui container grid">
    <div class="sixteen wide column">
        {% include('common/messages.html.twig') %}
    </div>

    {% include('common/admin_menu.html.twig') %}

    <div class="twelve wide column">
        <h1>Modifier les images d'un produit &nbsp;<span class="ui large basic label">#{{ product.id }}</span></h1>

        <div class="ui form product-title-preview">
            <div class="field">
                <label>Titre du produit</label>
                <input type="text" value="{{ product.title }}" readonly>
            </div>
        </div>

        {{ form_start(form, { 'attr': { 'class': 'ui form' } }) }}

        <h4 class="ui dividing header">Image de couverture</h4>

        <div class="ui grid">
            <div class="twelve wide column form-section">
                <div class="field">
                    {{ form_label(form.coverImage, 'Téléverser une nouvelle image') }}
                    {{ form_widget(form.coverImage) }}
                    <span class="ui grey text italic">Taille maximale de 100 Ko. Format JPEG ou PNG.</span><br>
                    {{ form_errors(form.coverImage) }}
                </div>
                <div class="field">
                    <div class="ui toggle checkbox danger-toggle">
                        {{ form_label(form.removeCoverImage, 'Supprimer l\'image courante') }}
                        {{ form_widget(form.removeCoverImage) }}
                        {{ form_errors(form.removeCoverImage) }}
                    </div>
                </div>
            </div>
            <div class="four wide column form-product-image">
                <h5>Image courante</h5>
                {% if asset_exists('images/products/' ~ product.id ~ '_1.jpg') %}
                <img class="product-image-preview" src="{{ asset('images/products/' ~ product.id ~ '_1.jpg') }}"
                    alt="" />
                {% else %}
                <img class="product-image-preview" src="{{ asset('images/no-image.png') }}" alt="" />
                {% endif %}
            </div>
        </div>

        <h4 class="ui dividing header">Image de détail</h4>

        <div class="ui grid">
            <div class="twelve wide column form-section">
                <div class="field">
                    {{ form_label(form.detailImage, 'Téléverser une nouvelle image') }}
                    {{ form_widget(form.detailImage) }}
                    <span class="ui grey text italic">Taille maximale de 100 Ko. Format JPEG ou PNG.</span><br>
                    {{ form_errors(form.detailImage) }}
                </div>
                <div class="field">
                    <div class="ui toggle checkbox danger-toggle">
                        {{ form_label(form.removeDetailImage, 'Supprimer l\'image courante') }}
                        {{ form_widget(form.removeDetailImage) }}
                        {{ form_errors(form.removeDetailImage) }}
                    </div>
                </div>
            </div>
            <div class="four wide column form-product-image">
                <h5>Image courante</h5>
                {% if asset_exists('images/products/' ~ product.id ~ '_2.jpg') %}
                <img class="product-image-preview" src="{{ asset('images/products/' ~ product.id ~ '_2.jpg') }}"
                    alt="" />
                {% else %}
                <img class="product-image-preview" src="{{ asset('images/no-image.png') }}" alt="" />
                {% endif %}
            </div>
        </div>

        {{ form_widget(form.submit, {
        'attr': { 'class': 'ui primary button' },
        'label': 'Mettre à jour'
        }) }}
        <a href="{{ path('admin_products') }}" class="ui button">Annuler</a>
        &nbsp;
        <a href="{{ path('admin_products_edit', { 'id': product.id }) }}" class="ui tertiary button">Gérer les détails
            du produit</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block post_javascripts %}
{{ parent() }}

<script>
    $('.ui.checkbox').checkbox();

    $('input[type=checkbox]').change(function () {
        $(this).closest('.form-section')
            .find('input[type=file]')
            .prop('disabled', this.checked);
    });

    $('input[type=file]').closest('.form-section').find('input[type=checkbox]')
</script>

{% endblock %}