{#
Fichier : products_new.html.twig
Date : 2021-05-16
Auteur : Davis Eath
Fonction : Page admin ajout d'un produit
#}

{% extends 'admin/base.html.twig' %}

{% block title 'produits / ' ~ parent() %}

{% set page = 'products_new' %}

{% form_theme form _self %}

{% block form_errors %}
{% for error in errors %}
<span class="form-error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
{% endfor %}
{% endblock form_errors %}

{% block main %}
<div class="ui container grid">
    <div class="sixteen wide column">
        {% include('common/messages.html.twig') %}
    </div>

    {% include('common/admin_menu.html.twig') %}

    <div class="twelve wide column">
        <h1>Ajouter un produit</h1>
        {{ form_start(form, { 'attr': { 'class': 'ui form' } }) }}
        <div class="field {{ form.title.vars.valid ? '' : 'error' }}">
            {{ form_label(form.title, 'Titre du produit') }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="field {{ form.description.vars.valid ? '' : 'error' }}">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description) }}
            <span class="ui grey text italic">
                Vous pouvez utiliser un sous-ensemble limité de
                <a href="{{ asset('resources/markdown.pdf') }}" target="_blank">Markdown</a>
                (citations, emphase et listes) pour ce champ.
            </span><br>
            {{ form_errors(form.description) }}
        </div>
        <div class="field {{ form.category.vars.valid ? '' : 'error' }}">
            {{ form_label(form.category, 'Catégorie') }}
            {{ form_widget(form.category, { 'attr': {'class': 'ui fluid dropdown' }}) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="fields">
            <div class="six wide field {{ form.price.vars.valid ? '' : 'error' }}">
                {{ form_label(form.price, 'Prix unitaire') }}
                <div class="ui right labeled input">
                    {{ form_widget(form.price) }}
                    <div class="ui label">CDN $</div>
                </div>
                {{ form_errors(form.price) }}
            </div>
            <div class="five wide field {{ form.inventoryStock.vars.valid ? '' : 'error' }}">
                {{ form_label(form.inventoryStock, 'En stock') }}
                {{ form_widget(form.inventoryStock) }}
                {{ form_errors(form.inventoryStock) }}
            </div>
            <div class="five wide field {{ form.minRestock.vars.valid ? '' : 'error' }}">
                {{ form_label(form.minRestock, 'Seuil minimum') }}
                {{ form_widget(form.minRestock) }}
                {{ form_errors(form.minRestock) }}
            </div>
        </div>

        {{ form_widget(form.submit, {
        'attr': { 'class': 'ui primary button' },
        'label': 'Ajouter'
        }) }}
        <a href="{{ path('admin_products') }}" class="ui button">Annuler</a>
        &nbsp;
        <span class="ui grey text italic">La gestion des images sera disponible à la modification du produit.</span>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block post_javascripts %}
{{ parent() }}

<script src="{{ asset('js/a-pro-manager.js') }}"></script>

{% endblock %}